header {
    background-color: rgba(22, 84, 138, 0.377);
    padding: 1px;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(139, 139, 139, 0.247);
}

.homePage {

    border-bottom: 1px solid black;
}

footer {

    background-color: rgba(22, 84, 138, 0.377);
}

h2 {
    text-align: center;
}