header {
    background-color: white;
    padding: 1px;
    /* how to make links black */
    height: 50px;
    color:#385163;
    font-weight: lighter;
   
}

a {
    color: #385163;
}
h1 {

    font-weight: lighter;
    font-size: larger;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #385163;
}

.homePage {

    border-bottom: 1px solid black;
}

footer {

    background-color: #5d5c61;
    display: block;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    

}

.padding_needed {
    padding: 10px;
}

h2, h3 {
    text-align: center;
    color: white;
    font-size: large;
    font-weight: lighter;
}


p, ul {
    font-size: smaller;
    color: white;
}

/* 
.part1img, .part3img {
    margin-right: 15px;
    float: left;
    margin-bottom: 100px;
}

.part2img {
    margin-left: 15px;
    float: right;
}
*/


.part1img, .part1text, .part2img, .part2text, .part3text, .part3img {
    vertical-align: top;
}

.part1text, .part2text, .part3text {
    display: inline-block;
    width: 400px;
}