header {
    background-color: white;
    padding: 1px;
    /* how to make links black */
    height: 3em;
    color:#385163;
    font-weight: lighter;
   
}

a {
    color: #385163;
}
h1 {

    font-weight: lighter;
    font-size: larger;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #385163;
}

.homePage {

    border-bottom: 1px solid black;
    display: block;
    margin: auto;
    
}

footer {

    background-color: white;
    display: block;
    text-align: center;
    padding: .25rem;
    margin-top: 1rem;
    

}

.padding_needed {
    padding: 10px;
}

h2 {
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: lighter;
}

h3 {
    text-align: center;
    color: white;
    font-size: large;
    font-weight: lighter;
}


p, ul {
    font-size: smaller;
    color: white;
}



/* .part1img, .part1text, .part2img, .part2text, .part3text, .part3img, .portfolio1text, .portfolio1img {
    vertical-align: top;
}

.part1text, .part2text, .part3text, .portfolio1text {
    display: inline-block;
    width: 400px;
}

.part1img, .part3img, .portfolio1img {
    padding: 20px;
} */

.flexy {

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
   
}

label {
    color: white;
}

form {
    margin: 2rem;
}

.floatMarginLeft {
    margin-left: 1rem;
}

.floatMarginRight {
    margin-right: 1rem;;
}

@media screen and (max-width: 600px) {
    /* text adjustments */
    header {
        font-size: 60%;
    }
    h2 { font-size: medium;}
    h3, label { font-size: smaller;}
    form { margin: 0px; }

    /* image adjustments */
    .homePage { width: 80%;}
    .portfolio1img { width: 40%;
        height: 20%;
        margin-top: 3rem;
    }
    .part1img {
        width: 50%;
         height: 50%;
    }
    .part2img {
        width: 30%;
        height: 60%;
    }
    .part3img {
        width: 40%;
        height: 30%;
    }

}
